<div class="section-wrapper">
    <!-- HEADER -->
    <div class="section-header">
        <div class="section-title">
            <h2>Password requests</h2>
            <p>Users who have forgot password will request to send their password, verify and send email.</p>
        </div>
    </div>
    <!-- PRODUCT TABLE -->
    <div class="content-block">
        <div class="block-header">
            <h3>Requests</h3>
        </div>
        {% if reqs %}
        <div class="table-wrapper">
            <table>
                <tr>
                    <th>E-Mail</th>
                    <th>Password</th>
                    <th></th>
                </tr>
                {% for req in reqs %}
                <tr>
                    <td>{{req.email}}</td>
                    <td>{{req.pswd}}</td>
                    <td>
                        <form action="/done-request/{{req.email}}" method="POST" class="ajax-form">
                            <button type="submit" class="delete-btn">
                                <i class="fa-solid fa-trash"></i>
                                Delete
                            </button>
                        </form>
                    </td>
                {% endfor %}
            </table>
        </div>
        {% else %}
        <div class="empty-state">
            <i class="fa fa-check-circle"
               style="
               font-size:42px;
               margin-bottom:16px;
               opacity:.35;
               ">
            </i>
            <h3 style="margin-bottom:8px;">No Password Requests!</h3>
            <p>All users know their passwords right now.</p>
        </div>
        {% endif %}
    </div>
</div>